@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */

/* Logo */

.logo {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left:5px;
    cursor: pointer;
}

.logoimg{
    margin-top: 8px;
    margin-left:8px;
    height:60px;
    width: 100px;
}

/* Navigation Items */

.items ul{
    display: flex;
    justify-content:center;
    align-self:center;
    list-style: none;
    cursor: pointer;
}

.items ul li{
    font-size:30px;
    display: flex;
    justify-content:center;
    align-self:center;
    list-style: none;
    margin-left: 60px;
}

.lastitem{
    margin-right:20px
}

/* Main Content */

.heading{
    display: flex;
    justify-content:center;
    align-self:center;
    margin-top:20px;
}

.containers{
    margin-top:30px;
}

.box1{
    display: flex;
    margin: 19px;
    background-color:rgb(218, 218, 218);
    border-radius:15px;
}

.lphoto{
    height: 150px;
    width: 200px;
}

.codingimg{
    margin-top:15px;
    margin-left:10px;
    height:150px;
    width:150px;
}

.boxs{
    display: flex;
}

.title{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.description{
    color:grey;
    font-size: 14px;
    margin-left:-2px;
    margin-right:5px;
    padding: 5px;
}

.interested-btn{
    border: none;
    background-color: rgb(142, 142, 142);
    border-radius:10px;
    padding:10px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}